body {
  font-family: "Roboto", sans-serif;
}
:root {
  --main-color: #19283f;
  --green-color: #33d1cc;
  --orange-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
/* start navbar */
.navbar {
  background-color: var(--main-color);
}
.nav-item .nav-link {
  color: white;
}

.nav-item .nav-link.active,
.nav-item .nav-link:focus,
.nav-item .nav-link:hover {
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
  color: var(--green-color);
}

.navbar .main-btn {
  border: none;
  color: var(--yellow-color);
  background-color: var(--orange-color);
}
.navbar .main-btn:hover {
  color: var(--orange-color);
  background-color: var(--yellow-color);
}
.navbar .navbar-toggler {
  border: 1px solid white;
  color: white;
  font-size: 25px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  color: var(--green-color);
}
/* end navbar */

/* start landing */
.landing {
  background-color: var(--main-color);
  color: white;
  min-height: calc(100vh - 70px);
}
.btn,
.btn:focus {
  border: none;
  color: var(--yellow-color);
  background-color: var(--orange-color);
}
.btn:hover {
  color: var(--orange-color);
  background-color: var(--yellow-color);
}
/* end landing */
/* start features  */
.main-title::after {
  content: "";
  position: absolute;
  background-color: var(--green-color);
  width: 120px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
}
.row .icon-holder {
  position: relative;
  height: fit-content;
}
.row .icon-holder .icon {
  font-size: 50px;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--green-color);
}
.row .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
  bottom: 0;
}
.features .row h4 {
  color: var(--yellow-color);
}
/* end features  */
/* start work  */
.work {
  background-color: var(--section-color);
}
.work ul li {
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.work ul .active {
  background-color: var(--orange-color);
  color: var(--yellow-color);
}
.work ul li:not(.active):hover {
  color: var(--yellow-color);
}
.work .box {
  position: relative;
  background-color: white;
  padding: 5px;
  overflow: hidden;
  display: none;
}
.work .box.active{
  display: block;
}
.work .box::before {
  content: attr(data-content);
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #33d1ccbb;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  transform: translateX(calc(-100% - 5px));
}
.work .box:hover::before{
  transform: translateX(0);
}
/* end work  */
/* start stuff */

.stuff .descreption {
  max-width:450px
}
/* end stuff */
/* start team  */
.team {
  background-color: var(--section-color);

}
.team .headline {
  color: var(--yellow-color);
}
.team .box .name {
  background-color: var(--green-color);
  color: white;

}
/* end team  */
/* start project  */
.project {
  background-color: var(--main-color);
}
.project h2 {
  color: white;
}
/* end project  */
/* start blog  */
.blog .box{ 
  border: 1px rgba(138, 138, 138, 0.158) solid ;
}
/* end blog  */
/* Start Subscribe */
.subscribe {
  background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe ::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  background-color: var(--main-color);
  color: var(--yellow-color);
}
/* End Subscribe */
/* Start Footer */
.footer {
  background-color: var(--main-color);
}
.footer .copyright > span {
  color: var(--green-color);
}
.footer .copyright div span {
  color: var(--yellow-color);
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */